.html{
    
}
.main-font{
    font-size: 1.7rem;
}
.h_fbox{
    display: flex;
    padding: 0%;
    margin: 0%;
    border: 0;
    height: 100%;
    width: 100%;
}
.leftSide{
    height: 100vh;
    width: 45vw;
    background-image: url(strawhats.jpg); 
    background-size: cover;
}
#title{
    height: fit-content;
    background-color: rgba(0, 2, 128, 0.5);
    
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 200px;
    padding: 20px 0px;
}
#title > h1{
    color: antiquewhite;
}

#logo{
    aspect-ratio: 4 4;
    height: 15vh;
}

.rightSide{
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.upper{
    height: 35vh;
    padding: 16px;
    position: relative;
    font-size: 1.8rem;
    
}