@font-face {
    font-family: op-manga-font;
    src: url(Fonts/one\ piece\ font.ttf);
}
@font-face {
    font-family: carlosea;
    src: url(Fonts/CarloseademoRegular-K7z7D.otf);
}
html {
    font: 1em carlosea;    
}
body { 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
  }
.main-font{
    font-size: 1.7rem;
}
.h-flex{
    display: flex;
}
.v-flex{
    display: flex;
    flex-direction: column;
}
.leftSide{
    height: 100vh;
    width: 45vw;
    position: relative;
    background-image: url(pictures/strawhats.jpg); 
    background-size: cover;
}
#title{
    height: fit-content;
    background-color: rgba(128, 0, 0, 0.5);
    
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 200px;
    padding: 10px 0px;

    text-align: center;
}
#title > span{
    color: rgb(246, 250, 215);
    font-family: op-manga-font;
    font-size: 4rem;
}

#logo{
    aspect-ratio: 4/4;
    height: 20vh;
}

.rightSide{
    width: 60vw;
    background-image: url(https://images.assetsdelivery.com/compings_v2/pictulandra/pictulandra1808/pictulandra180800022.jpg);
    background-size: 70vh;

    border: 2px solid;
    border-color: rgb(63, 45, 33);
}

.upper{
    height: 30vh;
    padding: 20px 20px 10px;
    position: relative;
    font-size: 2.15rem;
    text-align: center;
    font-family: carlosea;


}
.upper>em {
    font-size: 3rem;
}
.mid {
    padding: 60px 90px 25px;
    height: 35vh;
    z-index: 1;

    background-image: url(pictures/burned\ Paper.png);
    background-size: 60vw 100%;
}
.mid >span{
    font-family: carlosea;
    font-size: 2.3rem;
}
.input-group {
    margin-bottom: 25px;
    
}
.input-group:nth-child(2){
    margin-left: 100px;
}

form {
    margin-top: 30px;
}

label{
    font-size: 1.09rem;
    margin-bottom: 3px;
    letter-spacing: 0.07rem;
    font-family: carlosea;
}

input {
    height: 25px;
    
    border-radius: 3px;
    border: 1px rgb(51, 34, 22) solid;
    
    background-color: rgb(255, 249, 241);
}

input:focus{
    border: 1px rgb(151,37,37) solid;
    outline: none;
    box-shadow: 2.5px 2px 6px rgb(163, 129, 90);
}

.lower{
    padding: 35px 50px;
}
.lower > span {
    margin-top: 15px;
}
button {
    width: 20vw;
    height: 6vh;

    font-family: op-manga-font;
    font-size: 2.5rem;
    color: rgb(246, 250, 215);

    background-color: rgb(151,37,37);

    border-radius: 6px;
    border: 3px rgba(112, 79, 18, 0.5) solid;

    
}
button:hover {
    cursor: pointer;
    filter: brightness(93%);
}
.foot-text {
    position: absolute;
    bottom: 5px;
    left: 25px;
}